
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{header :: header}"></div>
<title>Dashboard</title>
<link rel="stylesheet" href="/css/buyerDashboard.css"/>
<script>

    // Parse the query parameters to get the username
    const urlParams = new URLSearchParams(window.location.search);
    const carPlateNumber = urlParams.get('carPlateNumber');


    console.log("Plate:", carPlateNumber); // or display it in the page

    if(!carPlateNumber) {
        window.location.href = "/InfinityNetwork/buyer/dashboard";
    }



    console.log("Plate:", carPlateNumber); // Or display it on the page

    if(!carPlateNumber) {
        window.location.href = "/InfinityNetwork/buyer/dashboard"; // Redirect if no plate number
    }

    // Function to add the car listing as a favorite
    async function saveFavorite(carPlateNumber, sellerUsername) {
        try {
            const username = sessionStorage.getItem("username");
            const url = '/InfinityNetwork/buyer/addFavorite'; // API endpoint

            // Prepare the payload
            const payload = {
                favoriteFor: carPlateNumber,
                favoriteBy: username,
                sellerUsername: sellerUsername,
            };

            // Send POST request to the backend
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload),
            });

            // Handle the server response
            if (response.ok) {
                const result = await response.text();
                alert(`Favorite added successfully: ${result}`);
            } else {
                const error = await response.text();
                alert(`Failed to add favorite: ${error}`);
            }
        } catch (error) {
            console.error('Error adding favorite:', error);
            alert('An error occurred while adding the favorite.');
        }
    }


    async function viewRecord(plate) {
        try {
            const url = `/InfinityNetwork/buyer/recordView?carPlateNumber=${carPlateNumber}`;
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
        } catch(error) {
        }
    }

    async function getSearchedBuyerUsedCarListing() {

        try {
            const url = `/InfinityNetwork/buyer/searchListing?criteria=carPlateNumber&value=${carPlateNumber}`;
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const listings = await response.json();
            console.log(listings);
            return listings.find(listing => listing.carPlateNumber === carPlateNumber);
        } catch(error) {
        }
    }
    document.addEventListener("DOMContentLoaded", async function() {
        const currentUrl = window.location.pathname;
        const navLinks = document.querySelectorAll(".navbar-nav .nav-link");

        navLinks.forEach(link => {
            if (link.getAttribute("href") === currentUrl) {
                link.classList.add("active");
            }
        });

        viewRecord(carPlateNumber);
        const listing = await getSearchedBuyerUsedCarListing();

        document.getElementById("car-brand").innerHTML = `Current Car Brand: ${listing.carBrand}`;
        document.getElementById("car-model").innerHTML = `Current Car Model: ${listing.carModel}`;
        document.getElementById("plate").innerHTML = `Current Car Plate Number: ${listing.carPlateNumber}`;
        document.getElementById("status").innerHTML = `Current Listing Status: ${listing.listingStatus}`;
        document.getElementById("year").innerHTML = `Current Manufactured Year: ${listing.manufacturedYear}`;
        document.getElementById("millage").innerHTML = `Current Millage: ${listing.millage}`;
        document.getElementById("price").innerHTML = `Current Price: ${listing.price}`;
        document.getElementById("seller").innerHTML = `Current Seller ID: ${listing.sellerUsername}`;
        document.getElementById("created-at").innerHTML = `Current Seller ID: ${listing.created_at}`;
        document.getElementById("updated-at").innerHTML = `Current Seller ID: ${listing.updated_at}`;
        document.getElementById("listed-by").innerHTML = `Current Seller ID: ${listing.listedBy}`;

            // Check if photo exists and display it
        if (listing.photo) {
            const carPhoto = document.getElementById("car-photo");
            carPhoto.src = listing.photo; // Set the photo URL
            carPhoto.style.display = "block"; // Make the image visible
        }

        const save = document.getElementById("save-button");
        save.addEventListener("click", async function() {
            saveFavorite(listing.carPlateNumber, listing.sellerUsername);
        });
    });



</script>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{buyerNavbar :: buyer-navbar}"></div>

<div class="px-4 py-5 my-5 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" cclass="d-block mx-auto mb-4 bi bi-person-fill-gear" viewBox="0 0 16 16">
        <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17s2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276"/>
        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.8.8 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155s4.037-.084 5.592-.155A1.48 1.48 0 0 0 15 9.611v-.413q0-.148-.03-.294l-.335-1.68a.8.8 0 0 0-.43-.563 1.8 1.8 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3z"/>
    </svg>
    <h1 class="display-5 fw-bold">Used Car Information</h1>
    <div class="col-lg-6 mx-auto">

    </div>
</div>



<!-- Dashboard -->
<div class="container-fluid">
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Car Photo</div>
        <div class="col-4 grid-col">
            <img id="car-photo" src="" alt="Car Photo" style="max-width: 100%; height: auto; display: none;">
        </div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Car Brand</div>
        <div class="col-4 grid-col" id="car-brand"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Car Model</div>
        <div class="col-4 grid-col" id="car-model"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Plate Number</div>
        <div class="col-4 grid-col" id="plate"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Created At</div>
        <div class="col-4 grid-col" id="created-at"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Manufactured Year</div>
        <div class="col-4 grid-col" id="year"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Millage</div>
        <div class="col-4 grid-col" id="millage"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Price</div>
        <div class="col-4 grid-col" id="price"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Updated at</div>
        <div class="col-4 grid-col" id="updated-at"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Listed By</div>
        <div class="col-4 grid-col" id="listed-by"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Seller Username</div>
        <div class="col-4 grid-col" id="seller"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <div class="col-4 grid-col">Listing Status</div>
        <div class="col-4 grid-col" id="status"></div>
    </div>
    <div class="row mb-3 text-center justify-content-md-center">
        <button type="button" class="col-4 btn btn-primary" id="save-button">Save Listing</button>
    </div>
</div>


<div class="mt-auto footer-color container-fluid" th:insert="~{footer :: footer}"></div>
</body>
</html>